p {
  font-family: Lato;
}

.wrapper{
  width: 100%;
  height: 100vh;
  background-color: palegreen;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 9fr;
}

.header {
  width: 100%;
  text-align: center;
  background-color: cyan;
}
.main {
  width: 100%;
  text-align: center;
  background-color: teal;
  /* padding: 1em; */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;
}

.sidebar {
  background-color:olive
}
.main-content {
   background-color:orange;
}
